[alias]
    amend = commit --amend
    fp = fetch -p
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --decorate=short --date=iso
    wip = commit -m "WIP"
    spull = "!f() { git switch \"$1\" && git pull && git switch -; }; f"
[color]
    ui = true
[commit]
    gpgSign = true
    verbose = false
[core]
    editor = vim
    pager = diff-so-fancy | less --tabs=4 -RF
[credential]
    helper = osxkeychain
[diff]
    algorithm = histogram
    renames = true
[fetch]
    prune = true
    prunetags = true
[filter "lfs"]
    clean = git-lfs clean -- %f
    process = git-lfs filter-process
    required = true
    smudge = git-lfs smudge -- %f
[format]
    pretty = format:%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset
[gpg]
    format = ssh
[init]
    defaultBranch = main
[interactive]
    diffFilter = diff-so-fancy --patch
[log]
    abbrevCommit = true
    date = iso
    decorate = short
    #showSignature = true
[merge]
    ff = only
[pull]
    rebase = true
[push]
    autoSetupRemote = true
    default = simple
    followTags = true
[rebase]
    #autosquash = true
    autostash = false
[rerere]
    enabled = true
[status]
    showUntrackedFiles = all
[tag]
    gpgSign = true
[user]
    #email = ***@***.***
    name = Théo
    signingKey = ~/.ssh/id_ed25519
