[user]
    name = teodc
    email = theo.dacosta@gmail.com
    #signingKey = ABC123
[color]
    ui = auto
[core]
    editor = vim
    pager = diff-so-fancy | less --tabs=4 -RFX
[interactive]
    diffFilter = diff-so-fancy --patch
[status]
    showUntrackedFiles = all
[diff]
    renames = true
[commit]
    gpgSign = true
[gpg]
    program = gpg
[tag]
    gpgSign = true
[fetch]
    prune = true
[push]
    default = simple
    followTags = true
[pull]
    rebase = true
[merge]
    ff = only
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[log]
    abbrevCommit = true
    decorate = short
    date = iso
    #showSignature = true
[format]
    pretty = format:%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset
[alias]
    amend = commit --amend
    fp = fetch -p
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --decorate=short --date=iso
