[alias]
    amend = commit --amend
    fp = fetch -p
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --decorate=short --date=iso
    wip = commit -m "WIP"
    spull = "!f() { git switch \"$1\" && git pull && git switch -; }; f"
[color]
    ui = true
[commit]
    gpgSign = true
    verbose = false
[core]
    editor = vim
    excludeFiles = ~/.gitignore
    pager = delta
[credential]
    helper = osxkeychain
[delta]
    line-numbers = true # activated by default with side-by-side
    navigate = true # use n and N to move between diff sections
    side-by-side = true
    # Tokyonight
    line-numbers-minus-style      = "#914c54"
    line-numbers-plus-style       = "#449dab"
    line-numbers-zero-style       = "#3b4261"
    minus-emph-style              = syntax "#713137"
    minus-empty-line-marker-style = syntax "#37222c"
    minus-non-emph-style          = syntax "#37222c"
    minus-style                   = syntax "#37222c"
    plus-emph-style               = syntax "#2c5a66"
    plus-empty-line-marker-style  = syntax "#20303b"
    plus-non-emph-style           = syntax "#20303b"
    plus-style                    = syntax "#20303b"
[diff]
    algorithm = histogram
    renames = true
[fetch]
    prune = true
    prunetags = true
[filter "lfs"]
    clean = git-lfs clean -- %f
    process = git-lfs filter-process
    required = true
    smudge = git-lfs smudge -- %f
[format]
    pretty = format:%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset
[gpg]
    format = ssh
[init]
    defaultBranch = main
[interactive]
    diffFilter = delta --color-only
[log]
    abbrevCommit = true
    date = iso
    decorate = short
    #showSignature = true
[merge]
    conflictstyle = diff3
    ff = only
[pull]
    rebase = true
[push]
    autoSetupRemote = true
    default = simple
    followTags = true
[rebase]
    #autosquash = true
    autostash = false
[rerere]
    enabled = true
[status]
    showUntrackedFiles = all
[tag]
    gpgSign = true
[user]
    email = *****@*****
    name = Théo
    signingKey = ~/.ssh/id_ed25519.pub
